body{
    background-color: lightgray;
}

/* Main */
main{
    font-family: sans-serif;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* CONTENIDo */
.contenido h1, .contenido h2, .contenido h3{
    font-size: 35px ;
}

.contenido h1::first-letter, .contenido h2::first-letter, .contenido h3::first-letter{
    text-decoration: underline;
}

/* Iconos */
.iconos p{
    font-weight: bold;
    margin-bottom: 0;
}

.iconos img{
    width: 60px;
    margin-right: 50px;
}

.iconos img:last-child{
    margin-right: 0;
}

/* Resto */
.resto a{
    font-family: monospace;
    font-size: 24px;
    color: black;
    text-decoration: none;
    background-color: lightyellow;
    border: 3px solid orange;
    display: block;
    text-align: center;
    margin-bottom: 24px;
}

.resto a:hover{
    background-color: yellow;
}

.resto {
    margin-top: 24px;
}

.resto img{
    width: 100%;
}

.resto h4{
    text-align: center;
}