/* Main */
main{
    font-family: sans-serif;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* Contenido */
.contenido h1, .contenido h2, .contenido h3{
    font-size: 30px;
}

.contenido h1::first-letter, .contenido h2::first-letter, .contenido h3::first-letter{
    text-decoration: underline red;
}

/* Iconos */
.iconos p{
    font-weight: bold;
    margin-bottom: 0;
}

.iconos img{
    margin-right: 50px;
    margin-top: 10px;
}

.iconos img:last-child{
    margin-right: 0;
}

/* Resto */
.resto a{
    font-family: monospace;
    font-size: 20px;
    background-color: lightyellow;
    border: 3px solid orange;
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-bottom: 24px;
}
.resto{
    margin-top: 20px;
}

.resto a:hover{
    background-color: yellow;
}

.resto img{
    width: 100%;
}

.resto h4{
    text-align: center;
}